.center {
  max-width: 800px;
  /* max-height: 1080px; */
  width: 100%;
  /* height: 100%; */
  background-color: var(--mantine-color-yellow-1);
  display: flex;
  flex-direction: column;
}

.header, .footer {
  height: 50px;
  background-color: var(--mantine-color-gray-2);
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.leftColumn {
  flex-grow: 1;
  background-color: var(--mantine-color-blue-1);
  padding: var(--mantine-spacing-md);
}

.rightColumn {
  width: 100px;
  background-color: var(--mantine-color-green-1);
  padding: var(--mantine-spacing-md);
}